@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Multi', sans-serif; }

a {
  color: inherit;
  text-decoration: none; }

.main {
  width: 100%;
  height: 100%;
  position: relative; }

.span-red {
  color: #E22230;
  font-weight: 600; }

/* Container */
.container {
  width: 100vw;
  height: 80vh;
  box-sizing: border-box;
  margin: 1rem 0;
  padding: 0 20rem; }
  @media screen and (max-width: 1370px) {
    .container {
      padding: 0 10rem; } }

.container-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: 6rem;
  margin: 1rem 0; }

.container-title h2 {
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase; }

.container-title span {
  margin-bottom: 1.2rem;
  width: 65%;
  max-width: 10rem;
  height: 0.2rem;
  background-color: #E22230;
  border-radius: 4px; }

.container-text {
  font-family: 'Multi', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 1px; }

/* Banner */
.banner {
  width: 100vw;
  height: 40vh;
  box-sizing: border-box;
  padding: 0 18rem; }
  @media screen and (max-width: 1370px) {
    .banner {
      padding: 0 10rem; } }

.banner-title {
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
  color: #ffffff;
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 6rem;
  padding: 0 4rem;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #ffffff; }

.header-logo {
  width: 13.5rem;
  height: 4rem;
  background-image: url("../src/medias/img/logo.png");
  background-size: contain;
  background-repeat: no-repeat; }

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 50%;
  height: 100%;
  text-transform: uppercase;
  font-size: 14px;
  color: #073C53; }
  @media screen and (max-width: 1366px) {
    .header-nav {
      width: 60%; } }

.header-nav-el {
  position: relative;
  transition: cubic-bezier(0.65, 0.01, 0.46, 1) 0.2s; }

.header-nav-el:hover {
  color: #E22230; }

.header-nav-el::after {
  content: "";
  width: 0;
  height: 0.2rem;
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  background-color: #E22230;
  transition: cubic-bezier(0.65, 0.01, 0.46, 1) 0.2s; }

.header-nav-el:hover::after {
  width: 100%; }

.header-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 8%;
  height: 100%; }

.header-login-el {
  width: 1.8rem;
  height: 1.8rem;
  background-size: cover;
  background-repeat: no-repeat; }

.icon-member {
  background-image: url("../src/medias/img/icons/lock.svg"); }

/* Burger */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
 * Slider
 */
.hamburger--slider .hamburger-inner {
  top: 2px; }
  .hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider .hamburger-inner::after {
    top: 20px; }
.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.7142857143px, -6px, 0);
    opacity: 0; }
  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg); }

/*
 * Slider Reverse
 */
.hamburger--slider-r .hamburger-inner {
  top: 2px; }
  .hamburger--slider-r .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider-r .hamburger-inner::after {
    top: 20px; }
.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg); }
  .hamburger--slider-r.is-active .hamburger-inner::before {
    transform: rotate(45deg) translate3d(5.7142857143px, -6px, 0);
    opacity: 0; }
  .hamburger--slider-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(90deg); }

.landing {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  position: relative;
  margin: 0;
  height: 100vh;
  background-image: url("../src/medias/img/landing-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 100%; }

.landing-el {
  height: 100%;
  padding: 2rem 0; }

.landing-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  width: 45%;
  height: 80%;
  padding: 16rem 0; }
  @media screen and (max-height: 900px) {
    .landing-content {
      padding: 8rem 0; } }

.landing-text {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column; }

.landing-text h2 {
  text-align: left;
  color: #073C53;
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 1rem; }

.landing-text h3 {
  color: #E22230;
  font-size: 22px;
  font-weight: 600; }

.landing-text p {
  width: 80%;
  margin-top: 2.4rem;
  padding: 0.25rem 0.5rem;
  color: #073C53;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  background-color: #ffffff; }

.landing-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  background-color: #ffffff;
  border: 2px solid #E22230;
  border-radius: 2px;
  color: #E22230;
  font-size: 18px;
  font-weight: 600;
  transition: cubic-bezier(0.65, 0.01, 0.46, 1) 0.2s; }

.landing-btn:hover {
  border: transparent;
  background-color: #E22230;
  color: #ffffff;
  border: 2px solid #ffffff; }

.landing-img {
  width: 55%;
  background-image: url("../src/medias/img/landing-illustration-01.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.event {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  margin: 0;
  position: relative;
  background-color: #073C53; }
  @media screen and (max-height: 900px) {
    .event {
      height: 80vh; } }

/* Event Container */
.event-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 2rem; }

.event-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 50%; }

.event-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 0.3rem;
  height: 100%;
  background-color: #ffffff;
  position: absolute; }

.event-line span {
  width: 1rem;
  height: 1rem;
  background-color: #ffffff;
  border-radius: 100%; }

/* Event Row */
.event-row .event-text {
  width: 50%;
  color: #ffffff; }

.event-row-1 .event-text {
  width: 65%; }

.event-row .event-img {
  width: 44%;
  height: 92%;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2px; }

.event-row .event-text-1 {
  padding-right: 3rem; }

.event-row .event-text-2 {
  padding-left: 3rem; }

.event-row .event-img-1 {
  background-image: url("../src/medias/img/01.jpg");
  background-position: center 30%; }

.event-row .event-img-2 {
  background-image: url("../src/medias/img/02.jpg"); }

.banner-event {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 30vh;
  background-color: #073C53; }

.banner-event .banner-event-col {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.banner-event .banner-event-col-1 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 2rem; }

.banner-event .banner-event-col-2 {
  width: 30%;
  height: 80%;
  background-image: url("../src/medias/img/france.svg"); }

.banner-event-col-1 .banner-event-title {
  font-size: 22px;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff; }

.banner-event-col-1 .banner-event-list {
  position: relative; }

.banner-event-col-1 .event-list-el {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  margin: 0.5rem 0; }

.banner-event-col-1 .event-list-el::before {
  content: '';
  width: 0.8rem;
  height: 0.8rem;
  background-color: #E22230;
  border-radius: 100%;
  position: absolute;
  left: 1rem; }

.participate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  margin: 0;
  position: relative;
  background-image: url("../src/medias/img/shape.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -100%; }

.participate-title h2 {
  color: #073C53;
  font-style: italic;
  font-size: 22px;
  margin: 0; }

.participate-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-bottom: 2rem; }

/* Row 1 */
.participate-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%; }

.participate-text {
  flex-direction: column;
  font-weight: 600;
  font-size: 13px;
  color: #073C53;
  letter-spacing: 1px;
  line-height: 1.2;
  width: 45%;
  height: 70%;
  margin-left: 2rem; }

.participate-text ul {
  padding-left: 1rem; }

.participate-text ul li {
  margin: 0.5rem 0;
  position: relative;
  padding: 0 0.5rem; }

.participate-text ul li::before {
  content: "";
  width: 0.65rem;
  height: 0.65rem;
  background-color: #E22230;
  border-radius: 100%;
  position: absolute;
  left: -1rem; }

.participate-text p {
  font-size: 13px; }

.participate-img {
  display: flex;
  flex-direction: row;
  width: 55%;
  height: 100%; }

.participate-img .img-col-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 100%;
  margin-right: 0.5rem; }

.participate-img .img-col-1 .img {
  width: 100%;
  height: 49%; }

.participate-img .img-col-2 {
  width: 60%;
  height: 100%; }

.participate-img .img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px; }

.img-col-1 .img-1 {
  background-image: url("../src/medias/img/03.jpg"); }

.img-col-1 .img-2 {
  background-image: url("../src/medias/img/04.jpg"); }

.img-col-2 {
  background-image: url("../src/medias/img/05.jpg"); }

.banner-participate {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-image: url("../src/medias/img/banderolle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff; }

.banner-participate-img {
  display: flex;
  width: 45%;
  height: 100%;
  background-image: url("../src/medias/img/banner-participate.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.banner-participate-text {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  width: 55%;
  height: 100%;
  margin-left: 2rem;
  padding: 2rem 0; }

.banner-participate-text h4 {
  font-size: 22px;
  font-weight: 600; }

.banner-participate-text a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2.5rem;
  border: 2px #ffffff solid;
  border-radius: 2px;
  transition: cubic-bezier(0.65, 0.01, 0.46, 1) 0.2s; }

.banner-participate-text a:hover {
  color: #f9f9f9;
  background-color: #E22230;
  border: 2px #f9f9f9 solid; }

.banner-participate-text p {
  font-size: 16px;
  line-height: 1.1; }

.sector {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  margin: 0; }
  @media screen and (max-height: 900px) {
    .sector {
      height: 65vh; } }

.sector-title h2 {
  color: #073C53; }

.sector-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2rem 0; }

.sector-container .sector-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 1.5rem 0; }

.sector-container .sector-row-1 {
  height: 50%; }

.sector-container .sector-row-2 {
  height: 40%; }

.sector-row .sector-row-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  height: 100%;
  margin: 0 1rem;
  background-color: #f9f9f9;
  border: 2px #E22230 solid;
  border-radius: 2px;
  position: relative; }

.sector-row-section .section-circle {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: -2rem;
  border: 3px #E22230 solid;
  border-radius: 100%;
  background-color: #ffffff;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat; }

.sector-row-section .section-circle-1 {
  background-image: url("../src/medias/img/icons/zap.svg"); }

.sector-row-section .section-circle-2 {
  background-image: url("../src/medias/img/icons/check.svg"); }

.sector-row-section .section-circle-3 {
  background-image: url("../src/medias/img/icons/command.svg"); }

.sector-row-section .section-circle-4 {
  background-image: url("../src/medias/img/icons/settings.svg"); }

.sector-row-section .section-circle-5 {
  background-image: url("../src/medias/img/icons/home.svg"); }

.sector-row-section .section-circle-6 {
  background-image: url("../src/medias/img/icons/aperture.svg"); }

.sector-row-section .section-circle-7 {
  background-image: url("../src/medias/img/icons/dollar-sign.svg"); }

.sector-row-section .section-circle-8 {
  background-image: url("../src/medias/img/icons/database.svg"); }

.sector-row-section .section-text {
  margin: 1.2rem 0.6rem 0 0.6rem;
  color: #0B3545;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.2;
  text-align: center; }

.partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 45vh; }

.partners-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  color: #073C53;
  font-size: 18px;
  font-weight: 600;
  text-align: center; }

.partners-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 90%; }

.partners-col {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 1rem; }

.partners-col .partners-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 50%; }

.partners-row .partner {
  display: block;
  width: 33%;
  height: 100%;
  margin: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

/* Col 1 */
.partners-col-1 .partners-row-1 .partner-1 {
  background-image: url("../src/medias/img/partners/logo-gimelec.jpg"); }

.partners-col-1 .partners-row-1 .partner-2 {
  background-image: url("../src/medias/img/partners/logo-ademe.png"); }

.partners-col-1 .partners-row-1 .partner-3 {
  background-image: url("../src/medias/img/partners/logo-supelec.png"); }

.partners-col-1 .partners-row-2 .partner-1 {
  background-image: url("../src/medias/img/partners/logo-atee.png"); }

.partners-col-1 .partners-row-2 .partner-2 {
  background-image: url("../src/medias/img/partners/logo-aidee.png"); }

.partners-col-1 .partners-row-2 .partner-3 {
  background-image: url("../src/medias/img/partners/logo-ceren.png"); }

/* Col 2 */
.partners-col-2 .partners-row-1 .partner-1 {
  background-image: url("../src/medias/img/partners/logo-actuenv.jpg"); }

.partners-col-2 .partners-row-1 .partner-2 {
  background-image: url("../src/medias/img/partners/logo-green.png"); }

.partners-col-2 .partners-row-1 .partner-3 {
  background-image: url("../src/medias/img/partners/logo-valeur.png"); }

.partners-col-2 .partners-row-2 .partner-1 {
  background-image: url("../src/medias/img/partners/logo-energieplus.png"); }

.partners-col-2 .partners-row-2 .partner-2 {
  background-image: url("../src/medias/img/partners/logo-decideurs.svg"); }

.visitor {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 55vh;
  margin: 0;
  position: relative;
  background-color: #073C53;
  color: #ffffff;
  box-sizing: border-box; }

/* Visitor row */
.visitor-row-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 16px;
  font-style: italic;
  line-height: 1.2;
  color: #ffffff; }

.visitor-row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 80%; }

.visitor-row-2 .visitor-text {
  width: 50%;
  margin-right: 1rem; }

.visitor-row-2 .visitor-text p {
  font-weight: 300; }

.visitor-row-2 .visitor-text h4 {
  margin: 1rem 0;
  font-weight: 600;
  font-style: italic; }

.visitor-img {
  width: 60%;
  height: 100%;
  background-image: url("../src/medias/img/06.jpg");
  background-size: cover;
  background-position: center 20%;
  background-repeat: no-repeat; }

.banner-visitor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 30vh;
  padding: 3rem 20rem;
  font-size: 16px;
  font-weight: 400;
  color: #073C53; }
  @media screen and (max-width: 1366px) {
    .banner-visitor {
      padding: 2rem 10rem; } }

.banner-visitor .banner-visitor-el {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 20%;
  height: 100%; }

.banner-visitor-el .visitor-icon {
  width: 6.5rem;
  height: 6.5rem;
  border: 2px solid #E22230;
  border-radius: 100%;
  background-position: center;
  background-size: 55%;
  background-repeat: no-repeat;
  margin-bottom: 1rem; }

.banner-visitor-el span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 600; }

.icon-bulb {
  background-image: url("../src/medias/img/icons/bulb.svg"); }

.icon-env {
  background-image: url("../src/medias/img/icons/recycle.svg"); }

.icon-graph {
  background-image: url("../src/medias/img/icons/graph.svg"); }

.icon-plug {
  background-image: url("../src/medias/img/icons/plug.svg"); }

.icon-quart {
  background-image: url("../src/medias/img/icons/quart.svg"); }

.banner-sector {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  padding: 2rem 20rem;
  color: #073C53;
  background-color: #073C53; }
  @media screen and (max-width: 1366px) {
    .banner-sector {
      padding: 2rem 10rem; } }

.banner-sector-title {
  color: #ffffff;
  font-weight: 400;
  font-style: italic;
  font-size: 22px;
  margin-bottom: 2rem; }

.banner-sector-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 95%;
  box-sizing: border-box; }

.banner-sector-el {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 25%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box; }

.banner-sector-el h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 16%;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 400; }

.banner-sector-el:not(:last-child) {
  margin-right: 1rem; }

.banner-sector-el .sector-el {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  border-radius: 2px; }

.banner-sector-el-1 .sector-el {
  background-image: url("../src/medias/img/visitorat1.jpg"); }

.banner-sector-el-2 .sector-el {
  background-image: url("../src/medias/img/visitorat2.jpg"); }

.banner-sector-el-3 .sector-el {
  background-image: url("../src/medias/img/visitorat3.jpg"); }

.banner-sector-el-4 .sector-el {
  background-image: url("../src/medias/img/visitorat4.jpg"); }

.banner-target {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  padding-bottom: 2rem;
  background-image: url("../src/medias/img/shape.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -200%;
  color: #073C53;
  font-size: 22px;
  font-weight: 600;
  font-style: italic; }

.banner-target .target-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  margin: 2rem 0; }

.target-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 80%;
  height: 90%; }

.target-row:not(:last-child) {
  margin-bottom: 3rem; }

.target-row .target-el {
  width: 50%;
  height: 100%;
  margin: 0 1rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.target-row .target-el-1 {
  background-image: url("../src/medias/img/ET_visuel1.svg"); }

.target-row .target-el-2 {
  background-image: url("../src/medias/img/ET_visuel2.svg"); }

.target-row .target-el-3 {
  background-image: url("../src/medias/img/ET_visuel3.svg"); }

.target-row .target-el-4 {
  background-image: url("../src/medias/img/ET_visuel4.svg"); }

.banner-animate {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 30vh;
  margin: 1rem 0 2rem 0;
  color: #073C53; }

.banner-animate .animate-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  margin: 1rem 0;
  font-size: 22px;
  font-style: italic;
  font-weight: 600; }

.animate-el .span-red {
  font-size: 18px;
  font-weight: 600; }

.animate-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 90%;
  margin-bottom: 1rem; }

.animate-row .animate-el {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin: 0 1rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px; }

.animate-row .animate-el-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 50%;
  height: 100%; }

.animate-el-2 .animate-img  {
  width: 35%;
  height: 100%;
  background-color: #073C53;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.expose {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  margin: 0;
  background-color: #073C53; }
  @media screen and (max-height: 900px) {
    .expose {
      height: 90vh; } }

/* Expose Container */
.expose-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 84%;
  padding: 1rem 0 3rem 0; }

.expose-container .expose-col-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 45%;
  height: 100%;
  margin-right: 1.5rem; }

.expose-col-1 .expose-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 8%;
  margin-top: 1rem;
  color: #ffffff; }
  @media screen and (max-height: 900px) {
    .expose-col-1 .expose-text {
      margin: 0; } }

.expose-text p {
  margin: 0.25rem 0; }

.testimonial {
  color: #073C53;
  font-size: 16px;
  font-weight: 400; }

.expose-col-1 .expose-gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80%; }
  @media screen and (max-height: 900px) {
    .expose-col-1 .expose-gallery {
      height: 75%; } }

.expose-gallery .expose-gallery-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 50%;
  padding: 0.5rem 0; }

.expose-gallery .expose-gallery-row-2 {
  padding-bottom: 0; }

.expose-gallery-row-1 .expose-img {
  width: 50%;
  height: 100%;
  border-radius: 2px;
  margin: 0 0.5rem 0 0; }

.expose-gallery-row-2 .expose-img-3 {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  margin: 0 0.5rem 0 0; }

.expose-container .expose-col-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  height: 100%; }

.expose-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.expose-img-1 {
  background-image: url("../src/medias/img/07.jpg"); }

.expose-img-2 {
  background-image: url("../src/medias/img/08.jpg");
  background-position: 85% center; }

.expose-img-3 {
  background-image: url("../src/medias/img/09.jpg");
  background-position: center 20%; }

.expose-col-2 {
  background-image: url("../src/medias/img/10.jpg");
  background-position: 0% center; }

.exhibitors {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 120vh;
  padding-bottom: 1rem;
  margin-bottom: 0;
  background-image: url("../src/medias/img/shape.svg");
  background-size: contain;
  background-position: center 190%;
  background-repeat: no-repeat; }
  @media screen and (max-height: 900px) {
    .exhibitors {
      height: 174vh; } }

.exhibitors-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 7%; }

.exhibitors-title h2 {
  color: #073C53;
  font-size: 22px;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase; }

/* Exhibitors */
.exhibitors-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 93%; }

.exhibitors-container .exhibitors-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap row;
  width: 100%;
  height: 65%;
  box-sizing: border-box;
  overflow: hidden; }

.exhibitors-list .exhibitor {
  border-radius: 2px;
  width: 6rem;
  height: 6rem;
  margin: 0.4rem; }

.exhibitors-container .exhibitors-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 10%; }

.exhibitors-container .exhibitors-subtitle h3 {
  margin-bottom: 1.2rem;
  color: #073C53;
  font-size: 22px;
  font-weight: 600;
  font-style: italic; }

.exhibitors-subtitle span {
  width: 8rem;
  height: 0.2rem;
  background-color: #E22230;
  border-radius: 4px; }

.exhibitors-container .exhibitors-testimonials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 25%;
  margin-bottom: 4rem;
  font-style: italic; }

.exhibitor {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.exhibitor-1 {
  background-image: url("../src/medias/img/participants/01.gif"); }

.exhibitor-2 {
  background-image: url("../src/medias/img/participants/02.gif"); }

.exhibitor-3 {
  background-image: url("../src/medias/img/participants/03.gif"); }

.exhibitor-4 {
  background-image: url("../src/medias/img/participants/04.gif"); }

.exhibitor-5 {
  background-image: url("../src/medias/img/participants/05.gif"); }

.exhibitor-6 {
  background-image: url("../src/medias/img/participants/06.gif"); }

.exhibitor-7 {
  background-image: url("../src/medias/img/participants/07.gif"); }

.exhibitor-8 {
  background-image: url("../src/medias/img/participants/08.gif"); }

.exhibitor-9 {
  background-image: url("../src/medias/img/participants/09.gif"); }

.exhibitor-10 {
  background-image: url("../src/medias/img/participants/10.gif"); }

.exhibitor-11 {
  background-image: url("../src/medias/img/participants/11.gif"); }

.exhibitor-12 {
  background-image: url("../src/medias/img/participants/12.gif"); }

.exhibitor-13 {
  background-image: url("../src/medias/img/participants/13.gif"); }

.exhibitor-14 {
  background-image: url("../src/medias/img/participants/14.gif"); }

.exhibitor-15 {
  background-image: url("../src/medias/img/participants/15.gif"); }

.exhibitor-16 {
  background-image: url("../src/medias/img/participants/16.gif"); }

.exhibitor-17 {
  background-image: url("../src/medias/img/participants/17.gif"); }

.exhibitor-18 {
  background-image: url("../src/medias/img/participants/18.gif"); }

.exhibitor-19 {
  background-image: url("../src/medias/img/participants/19.gif"); }

.exhibitor-20 {
  background-image: url("../src/medias/img/participants/20.gif"); }

.exhibitor-21 {
  background-image: url("../src/medias/img/participants/21.gif"); }

.exhibitor-22 {
  background-image: url("../src/medias/img/participants/22.jpg"); }

.exhibitor-23 {
  background-image: url("../src/medias/img/participants/23.gif"); }

.exhibitor-24 {
  background-image: url("../src/medias/img/participants/24.gif"); }

.exhibitor-25 {
  background-image: url("../src/medias/img/participants/25.gif"); }

.exhibitor-26 {
  background-image: url("../src/medias/img/participants/26.gif"); }

.exhibitor-27 {
  background-image: url("../src/medias/img/participants/27.gif"); }

.exhibitor-28 {
  background-image: url("../src/medias/img/participants/28.gif"); }

.exhibitor-29 {
  background-image: url("../src/medias/img/participants/29.gif"); }

.exhibitor-30 {
  background-image: url("../src/medias/img/participants/30.gif"); }

.exhibitor-31 {
  background-image: url("../src/medias/img/participants/31.gif"); }

.exhibitor-32 {
  background-image: url("../src/medias/img/participants/32.gif"); }

.exhibitor-33 {
  background-image: url("../src/medias/img/participants/33.gif"); }

.exhibitor-34 {
  background-image: url("../src/medias/img/participants/34.gif"); }

.exhibitor-35 {
  background-image: url("../src/medias/img/participants/35.gif"); }

.exhibitor-36 {
  background-image: url("../src/medias/img/participants/36.gif"); }

.exhibitor-37 {
  background-image: url("../src/medias/img/participants/37.gif"); }

.exhibitor-38 {
  background-image: url("../src/medias/img/participants/38.gif"); }

.exhibitor-39 {
  background-image: url("../src/medias/img/participants/39.gif"); }

.exhibitor-40 {
  background-image: url("../src/medias/img/participants/40.gif"); }

.exhibitor-41 {
  background-image: url("../src/medias/img/participants/41.gif"); }

.exhibitor-42 {
  background-image: url("../src/medias/img/participants/42.gif"); }

.exhibitor-43 {
  background-image: url("../src/medias/img/participants/43.gif"); }

.exhibitor-44 {
  background-image: url("../src/medias/img/participants/44.gif"); }

.exhibitor-45 {
  background-image: url("../src/medias/img/participants/45.gif"); }

.exhibitor-46 {
  background-image: url("../src/medias/img/participants/46.gif"); }

.exhibitor-47 {
  background-image: url("../src/medias/img/participants/47.gif"); }

.speak {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  margin-top: 0;
  position: relative;
  background-color: #073C53; }

/* speak Container */
.speak-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 64%;
  position: relative; }

.speak-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 50%; }

.speak-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6%;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff; }

/* Speak Row */
.speak-row .speak-text {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 1.2; }

.speak-description {
  margin-top: 1rem;
  font-weight: 400;
  font-style: italic; }

.speak-row .speak-img {
  width: 46%;
  height: 100%;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2px; }

.speak-row .speak-text-1 {
  padding-left: 3rem; }

.speak-row .speak-text-2 {
  padding-right: 3rem; }

.speak-img-1 {
  background-image: url("../src/medias/img/11.jpg");
  background-position: center 15%; }

.speak-img-2 {
  background-image: url("../src/medias/img/12.jpg");
  background-position: center 75%; }

.communicate {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 120vh;
  margin: 0;
  background-color: #073C53;
  color: #ffffff;
  box-sizing: border-box; }
  @media screen and (max-height: 900px) {
    .communicate {
      height: 140vh; } }

/* Communicate container */
.communicate-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 88%; }

.communicate-subtitle {
  width: 100%;
  height: 8%;
  text-align: center;
  font-weight: 400;
  font-style: italic; }

.communicate-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 1rem 0; }

.communicate-row-1 {
  width: 100%;
  height: 62%; }

.communicate-row-2 {
  width: 80%;
  height: 30%;
  margin-bottom: 3rem; }

.communicate-row .communicate-col {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0 1rem;
  background-color: #f9f9f9;
  border-radius: 2px; }

.communicate-row-2 .communicate-col .communicate-video-preview {
  width: 28rem;
  height: 90%;
  background-color: #f9f9f9; }

.communicate-row-2 .communicate-col .communicate-title {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff; }

.communicate-row-2 .communicate-col .communicate-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff; }

.communicate-el {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%; }

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  padding: 0 16px 16px 16px;
  max-width: 468px; }

.offer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  margin: 0;
  position: relative;
  background-image: url("../src/medias/img/shape.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 140%;
  color: #ffffff;
  box-sizing: border-box; }
  @media screen and (max-height: 900px) {
    .offer {
      height: 110vh; } }

.offer-title h2 {
  color: #073C53; }

/* offer container */
.offer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative; }

.offer-subtitle {
  width: 100%;
  height: 8%;
  text-align: center;
  font-weight: 400;
  font-style: italic;
  color: #073C53; }

.offer-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 1rem 0; }

.offer-row-1 {
  width: 100%;
  height: 80%; }

.offer-row-2 {
  width: 100%;
  height: 12%; }

.offer-row .offer-col {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0 1rem;
  background-color: #f9f9f9;
  border-radius: 2px; }

.offer-col .offer-col-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 12%;
  font-size: 18px;
  font-weight: 600;
  color: #E22230;
  text-transform: uppercase; }

.offer-col .offer-col-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 5%;
  color: #073C53; }

ul.offer-content-list {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  font-size: 14px;
  width: 100%;
  height: 80%;
  margin: 0 0 1.5rem 0;
  padding-left: 1.25rem;
  position: relative; }

ul.offer-content-list li::before {
  content: "";
  width: 0.65rem;
  height: 0.65rem;
  position: absolute;
  border-radius: 100%;
  background-color: #E22230;
  left: 0; }

.offer-col-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 3rem;
  background-color: #E22230;
  border-radius: 2px;
  color: #ffffff;
  position: absolute;
  bottom: 2%; }

.offer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 3.5rem;
  background-color: #E22230;
  border-radius: 2px; }

.offer-btn .icon-download {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
  background-image: url("../src/medias/img/icons/download.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.promotion {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  position: relative;
  z-index: 10;
  background-image: url("../src/medias/img/shape.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom; }

.promotion-background {
  width: 100%;
  height: 35%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  background-color: #073C53; }

/* Promotion container */
.promotion-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 84%;
  margin-bottom: 3rem; }

.promotion-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 0.5rem 0; }

.promotion-row-1 {
  height: 60%; }

.promotion-row-2 {
  height: 40%; }

.promotion-row .promotion-col {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100%; }

.promotion-col-1 {
  width: 35%; }

.promotion-col-2 {
  width: 20%; }

.promotion-el {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  margin: 0 1rem; }

.promotion-el-1 {
  width: 65%;
  height: 100%;
  margin-left: 0;
  background-image: url("../src/medias/img/13.jpg"); }

.promotion-el-2, .promotion-el-3 {
  width: 100%;
  height: 50%; }

.promotion-el-2 {
  margin-bottom: 0.5rem;
  background-image: url("../src/medias/img/14.jpg"); }

.promotion-el-3 {
  margin-top: 0.5rem;
  background-image: url("../src/medias/img/15.jpg"); }

.promotion-el-4, .promotion-el-5 {
  width: 100%;
  height: 50%; }

.promotion-el-4 {
  margin-bottom: 0.5rem;
  background-image: url("../src/medias/img/16.jpg"); }

.promotion-el-5 {
  margin-top: 0.5rem;
  background-image: url("../src/medias/img/17.jpg"); }

.promotion-el-6, .promotion-el-7 {
  width: 40%;
  height: 100%; }

.promotion-el-6 {
  margin: 0 0.5rem 0 1rem;
  background-image: url("../src/medias/img/18.jpg"); }

.promotion-el-7 {
  margin: 0 0 0 0.5rem;
  background-image: url("../src/medias/img/19.jpg"); }

.organisation {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 65vh;
  margin: 0;
  position: relative;
  background-color: #073C53;
  color: #ffffff; }
  @media screen and (max-height: 900px) {
    .organisation {
      height: 100vh; } }

.organisation-text {
  font-weight: 400;
  line-height: 1.2; }

.organisation-exposant-text .span-red {
  font-size: 300; }

/* Organisation container */
.organisation-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 84%;
  margin-bottom: 3rem; }

.organisation-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%; }

.organisation-row-1 {
  height: 60%;
  margin-bottom: 1rem; }
  @media screen and (max-height: 900px) {
    .organisation-row-1 {
      height: 50%; } }

.organisation-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 100%; }

.organisation-section:not(:last-child) {
  margin-right: 1.5rem; }

.organisation-exposants {
  width: 46%; }

.organisation-visitor {
  width: 27%; }

.organisation-logistic {
  width: 27%; }

.organisation-section-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 15%;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase; }

.organisation-section-el {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 85%; }

.organisation-section-img {
  width: 120px;
  height: 140px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.organisation-row-2 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  height: 30%; }

.organisation-subtitle {
  font-size: 16px;
  font-weight: 600; }

.organisation-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; }

.organisation-exposants-1 .organisation-section-img {
  background-image: url("../src/medias/img/elodie.jpg"); }

.organisation-exposants-2 .organisation-section-img {
  background-image: url("../src/medias/img/marie.jpg"); }

.organisation-visitor .organisation-section-img {
  background-image: url("../src/medias/img/laura.jpg"); }

.organisation-logistic .organisation-section-img {
  background-image: url("../src/medias/img/sandrine.jpg"); }

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 100;
  bottom: 0;
  background-color: #f9f9f9; }

.footer-part {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 0;
  width: 75%;
  height: auto;
  color: #073C53; }

/* upper footer */
.footer-part.upper-footer {
  height: 16rem; }

.upper-footer .upper-footer-el {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 25%;
  height: 100%;
  position: relative; }

.upper-footer .upper-footer-el:not(:last-child) {
  margin-right: 1rem; }

.upper-footer .footer-title {
  margin: 1rem 0;
  text-transform: uppercase;
  user-select: none;
  position: relative;
  font-size: 14px;
  font-weight: 600; }

.upper-footer .footer-title::before {
  content: "";
  width: 1rem;
  height: 0.2rem;
  position: absolute;
  bottom: -0.3rem;
  background-color: #073C53; }

.upper-footer .footer-part-el {
  margin: 0.4rem 0; }

/* icons */
.footer-icon {
  display: block;
  padding: 0;
  margin: 0;
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: -1.4rem;
  background-size: cover;
  background-repeat: no-repeat; }

.icon-location {
  background-image: url("../src/medias/img/icons/map-pin.svg"); }

.icon-mail {
  background-image: url("../src/medias/img/icons/mail.svg"); }

.icon-phone {
  background-image: url("../src/medias/img/icons/phone.svg"); }

.icon-fax {
  background-image: url("../src/medias/img/icons/file-text.svg"); }

.footer-logo {
  display: block;
  width: 11rem;
  height: 4.5rem;
  background-size: cover;
  background-image: url("../src/medias/img/logo-premium-contact-2017-2.png"); }

/* lower footer */
.footer-part.lower-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  user-select: none;
  text-transform: uppercase; }

/* Responsive */

/*# sourceMappingURL=style.css.map */
