@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

a {
  color: inherit;
  text-decoration: none; }

.main {
  width: 100%;
  height: 100%;
  position: relative; }

.container {
  width: 100vw;
  height: 80vh;
  box-sizing: border-box;
  margin: 1rem 0; }

.banner {
  width: 100vw;
  height: 40vh;
  box-sizing: border-box; }

.span-red {
  color: #E22230;
  font-weight: 600; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 6rem;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif; }

.header-logo {
  width: 13.5rem;
  height: 4rem;
  background-image: url("../src/media/img/logo.png");
  background-size: contain;
  background-repeat: no-repeat; }

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 50%;
  height: 100%;
  text-transform: uppercase;
  font-size: 14px;
  color: #073C53; }
  @media screen and (max-width: 1400px) {
    .header-nav {
      width: 60%; } }
  @media screen and (max-width: 1160px) {
    .header-nav {
      display: none; } }

.header-nav-el {
  position: relative;
  transition: cubic-bezier(0.65, 0.01, 0.46, 1) 0.2s; }

.header-nav-el:hover {
  color: #E22230; }

.header-nav-el::after {
  content: "";
  width: 0;
  height: 0.2rem;
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  background-color: #E22230;
  transition: cubic-bezier(0.65, 0.01, 0.46, 1) 0.2s; }

.header-nav-el:hover::after {
  width: 100%; }

.header-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 10%;
  height: 100%; }
  @media screen and (max-width: 1160px) {
    .header-login {
      display: none; } }

.header-login-el {
  width: 1.8rem;
  height: 1.8rem;
  background-size: cover;
  background-repeat: no-repeat; }

.icon-login {
  background-image: url("../src/media/img/icons/log-in.svg"); }

.icon-register {
  background-image: url("../src/media/img/icons/user-plus.svg"); }

.icon-member {
  background-image: url("../src/media/img/icons/lock.svg"); }

/* Burger */
.hamburger {
  display: flex;
  visibility: hidden;
  width: 4rem;
  height: auto; }
  @media screen and (max-width: 1160px) {
    .hamburger {
      visibility: visible; } }

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
 * Slider
 */
.hamburger--slider .hamburger-inner {
  top: 2px; }
  .hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider .hamburger-inner::after {
    top: 20px; }
.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.7142857143px, -6px, 0);
    opacity: 0; }
  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg); }

/*
 * Slider Reverse
 */
.hamburger--slider-r .hamburger-inner {
  top: 2px; }
  .hamburger--slider-r .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider-r .hamburger-inner::after {
    top: 20px; }
.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg); }
  .hamburger--slider-r.is-active .hamburger-inner::before {
    transform: rotate(45deg) translate3d(5.7142857143px, -6px, 0);
    opacity: 0; }
  .hamburger--slider-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(90deg); }

.landing {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  position: relative;
  margin: 0;
  padding: 0 5rem;
  height: 100vh;
  background-image: url("../src/media/img/shape.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 100%; }
  @media screen and (max-width: 1160px) {
    .landing {
      justify-content: space-around;
      align-items: center;
      flex-direction: column-reverse;
      height: 80vh;
      padding: 6rem 5rem; } }

.landing-el {
  height: 100%;
  padding: 2rem 0; }
  @media screen and (max-width: 1160px) {
    .landing-el {
      padding: 0; } }

.landing-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  width: 42%;
  font-family: 'Montserrat', sans-serif;
  padding: 16rem 0; }
  @media screen and (max-width: 1160px) {
    .landing-content {
      width: 100%;
      height: 40%;
      padding: 0; } }

.landing-text {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column; }

.landing-text h2 {
  color: #073C53;
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 1rem; }

.landing-text h3 {
  color: #E22230;
  font-size: 26px;
  font-weight: 600; }

.landing-text p {
  color: #0B3545;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 600;
  margin-top: 2.4rem; }
  @media screen and (max-width: 1160px) {
    .landing-text p {
      margin-top: 1rem; } }

.landing-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  border: 2px solid #E22230;
  border-radius: 2px;
  color: #E22230;
  font-size: 18px;
  font-weight: 600;
  transition: cubic-bezier(0.65, 0.01, 0.46, 1) 0.2s; }

.landing-btn:hover {
  border: transparent;
  background-color: #E22230;
  color: #ffffff; }

.landing-img {
  width: 58%;
  background-image: url("../src/media/img/landing-illustration-01.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }
  @media screen and (max-width: 1160px) {
    .landing-img {
      width: 100%;
      height: 60%; } }

.event {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  margin-top: 0;
  padding: 0 10rem;
  position: relative;
  background-color: #073C53; }
  @media screen and (max-width: 1160px) {
    .event {
      justify-content: space-between;
      padding: 3rem 5rem; } }

/* Event Title */
.event-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 16%; }
  @media screen and (max-width: 1160px) {
    .event-title {
      height: 10%; } }

.event-title h2 {
  margin-bottom: 1.2rem;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase; }

.event-title span {
  width: 8rem;
  height: 0.2rem;
  background-color: #E22230;
  border-radius: 4px; }

/* Event Container */
.event-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 70%;
  position: relative; }
  @media screen and (max-width: 1160px) {
    .event-content {
      height: 90%; } }

.event-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 50%; }
  @media screen and (max-width: 1160px) {
    .event-row {
      flex-direction: column; } }

.event-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 0.3rem;
  height: 100%;
  background-color: #ffffff;
  position: absolute; }
  @media screen and (max-width: 1160px) {
    .event-line {
      display: none; } }

.event-line span {
  width: 1rem;
  height: 1rem;
  background-color: #ffffff;
  border-radius: 100%; }

/* Event Row */
@media screen and (max-width: 1160px) {
  .event-row-2 {
    flex-direction: column-reverse; } }

.event-row .event-text {
  width: 50%;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 1.2; }
  @media screen and (max-width: 1160px) {
    .event-row .event-text {
      width: 100%;
      margin: 1rem 0;
      padding: 0 5rem; } }

.event-row .event-img {
  width: 47%;
  height: 100%;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2px; }
  @media screen and (max-width: 1160px) {
    .event-row .event-img {
      width: 100%;
      height: 12rem; } }

.event-row .event-text-1 {
  padding-right: 3rem; }
  @media screen and (max-width: 1160px) {
    .event-row .event-text-1 {
      padding: 0; } }

.event-row .event-text-2 {
  padding-left: 3rem; }
  @media screen and (max-width: 1160px) {
    .event-row .event-text-2 {
      padding: 0; } }

.participate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  margin: 0;
  padding: 0 12rem;
  position: relative;
  background-image: url("../src/media/img/shape.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -100%; }
  @media screen and (max-width: 1160px) {
    .participate {
      height: 65vh;
      padding: 0 5rem;
      background-position: center 10rem; } }

.participate-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 25%;
  color: #073C53;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase; }
  @media screen and (max-width: 1160px) {
    .participate-title {
      height: 10%; } }

.participate-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 85%; }
  @media screen and (max-width: 1160px) {
    .participate-container {
      height: 78%; } }

/* Row 1 */
.participate-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 75%; }
  @media screen and (max-width: 1160px) {
    .participate-row {
      flex-direction: column-reverse;
      height: 100%; } }

.participate-row .participate-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #073C53;
  letter-spacing: 1px;
  line-height: 1.2;
  width: 50%;
  height: 100%; }
  @media screen and (max-width: 1160px) {
    .participate-row .participate-text {
      width: 100%;
      height: 100%; } }

.participate-row .participate-text ul li {
  margin: 0.5rem 0;
  position: relative; }

.participate-row .participate-text ul li::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #E22230;
  border-radius: 100%;
  position: absolute;
  left: -2rem; }

.participate-row .participate-img {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%; }
  @media screen and (max-width: 1160px) {
    .participate-row .participate-img {
      width: 100%; } }

.participate-row .participate-img .img-col-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 38%;
  height: 100%; }

.participate-row .participate-img .img-col-1 .img {
  width: 96%;
  height: 49%; }

.participate-row .participate-img .img-col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58%;
  height: 100%; }

.participate-row .participate-img .img-col-2 .img {
  width: 100%;
  height: 100%; }

.participate-img .img {
  background-color: #073C53;
  border-radius: 2px; }

.banner-participate {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 0 10rem;
  background-image: url("../src/media/img/banderolle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif; }
  @media screen and (max-width: 1060px) {
    .banner-participate {
      padding: 0 5rem; } }

.banner-participate-img {
  display: flex;
  width: 45%;
  height: 100%;
  background-image: url("../src/media/img/banner-participate.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.banner-participate-text {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  width: 55%;
  height: 100%;
  margin-left: 2rem;
  padding: 2rem 0; }

.banner-participate-text h4 {
  font-size: 22px;
  font-weight: 400; }

.banner-participate-text a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2.5rem;
  border: 2px #ffffff solid;
  border-radius: 2px;
  transition: cubic-bezier(0.65, 0.01, 0.46, 1) 0.2s; }

.banner-participate-text a:hover {
  color: #f9f9f9;
  background-color: #E22230;
  border: 2px #f9f9f9 solid; }

.banner-participate-text p {
  font-size: 18px; }

.sector {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 64vh;
  padding: 0 10rem; }
  @media screen and (max-width: 1160px) {
    .sector {
      padding: 0 5rem;
      height: 46vh; } }

.sector-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 20%;
  color: #073C53;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase; }
  @media screen and (max-width: 1160px) {
    .sector-title {
      height: 10%; } }

.sector-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 70%;
  padding: 2rem 0; }
  @media screen and (max-width: 1160px) {
    .sector-container {
      justify-content: center;
      width: auto;
      height: 80%;
      padding: 1rem 0; } }

.sector-container .sector-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 1.5rem 0; }

.sector-container .sector-row-1 {
  height: 55%; }

.sector-container .sector-row-2 {
  height: 45%; }

.sector-row .sector-row-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  height: 100%;
  margin: 0 1rem;
  background-color: #f9f9f9;
  border: 2px #E22230 solid;
  border-radius: 2px;
  position: relative; }
  @media screen and (max-width: 1160px) {
    .sector-row .sector-row-section {
      widows: 20%;
      margin: 0 0.2rem; } }

.sector-row-section .section-circle {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: -2rem;
  border: 3px #E22230 solid;
  border-radius: 100%;
  background-color: #ffffff;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat; }

.sector-row-section .section-circle-1 {
  background-image: url("../src/media/img/icons/zap.svg"); }

.sector-row-section .section-circle-2 {
  background-image: url("../src/media/img/icons/check.svg"); }

.sector-row-section .section-circle-3 {
  background-image: url("../src/media/img/icons/command.svg"); }

.sector-row-section .section-circle-4 {
  background-image: url("../src/media/img/icons/settings.svg"); }

.sector-row-section .section-circle-5 {
  background-image: url("../src/media/img/icons/home.svg"); }

.sector-row-section .section-circle-6 {
  background-image: url("../src/media/img/icons/aperture.svg"); }

.sector-row-section .section-circle-7 {
  background-image: url("../src/media/img/icons/dollar-sign.svg"); }

.sector-row-section .section-circle-8 {
  background-image: url("../src/media/img/icons/database.svg"); }

.sector-row-section .section-text {
  margin: 1.2rem 0.6rem 0 0.6rem;
  color: #0B3545;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.2;
  text-align: center; }

.partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 45vh;
  padding: 0 10rem; }
  @media screen and (max-width: 1160px) {
    .partners {
      height: 30vh;
      padding: 0 5rem;
      text-align: center; } }

.partners-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  color: #073C53;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 600;
  text-align: center; }

.partners-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 90%; }

.partners-col {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 1rem; }

.partners-col .partners-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 50%; }

.partners-row .partner {
  display: block;
  width: 33%;
  height: 100%;
  margin: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

/* Col 1 */
.partners-col-1 .partners-row-1 .partner-1 {
  background-image: url("../src/media/img/partners/logo-gimelec.jpg"); }

.partners-col-1 .partners-row-1 .partner-2 {
  background-image: url("../src/media/img/partners/logo-ademe.png"); }

.partners-col-1 .partners-row-1 .partner-3 {
  background-image: url("../src/media/img/partners/logo-supelec.png"); }

.partners-col-1 .partners-row-2 .partner-1 {
  background-image: url("../src/media/img/partners/logo-atee.png"); }

.partners-col-1 .partners-row-2 .partner-2 {
  background-image: url("../src/media/img/partners/logo-aidee.png"); }

.partners-col-1 .partners-row-2 .partner-3 {
  background-image: url("../src/media/img/partners/logo-ceren.png"); }

/* Col 2 */
.partners-col-2 .partners-row-1 .partner-1 {
  background-image: url("../src/media/img/partners/logo-actuenv.jpg"); }

.partners-col-2 .partners-row-1 .partner-2 {
  background-image: url("../src/media/img/partners/logo-green.png"); }

.partners-col-2 .partners-row-1 .partner-3 {
  background-image: url("../src/media/img/partners/logo-valeur.png"); }

.partners-col-2 .partners-row-2 .partner-1 {
  background-image: url("../src/media/img/partners/logo-energieplus.png"); }

.partners-col-2 .partners-row-2 .partner-2 {
  background-image: url("../src/media/img/partners/logo-decideurs.svg"); }

.visitor {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 55vh;
  margin: 0;
  padding: 0 10rem;
  position: relative;
  background-color: #073C53;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  box-sizing: border-box; }
  @media screen and (max-width: 1160px) {
    .visitor {
      justify-content: space-between;
      padding: 3rem 5rem; } }

.visitor-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 20%; }
  @media screen and (max-width: 1160px) {
    .visitor-title {
      height: 10%; } }

.visitor-title h2 {
  margin-bottom: 1.2rem;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase; }

.visitor-title span {
  width: 8rem;
  height: 0.2rem;
  background-color: #E22230;
  border-radius: 4px; }

/* Visitor row */
.visitor-row-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #ffffff; }

.visitor-row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: auto; }

.visitor-row-2 .visitor-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 55%;
  height: 100%;
  margin-right: 1rem; }

.visitor-row-2 .visitor-text p {
  font-weight: 300; }

.visitor-row-2 .visitor-text h4 {
  margin: 1rem 0;
  font-weight: 600;
  font-style: italic; }

.visitor-img {
  width: 45%;
  height: 20rem;
  background-color: #ffffff; }

.banner-visitor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 30vh;
  padding: 0 10rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #073C53; }
  @media screen and (max-width: 1160px) {
    .banner-visitor {
      padding: 0 5rem; } }

.banner-visitor .banner-visitor-el {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 20%;
  height: 100%; }
  @media screen and (max-width: 1160px) {
    .banner-visitor .banner-visitor-el {
      height: 40%; } }

.banner-visitor-el .visitor-icon {
  width: 6.5rem;
  height: 6.5rem;
  border: 2px solid #E22230;
  border-radius: 100%;
  background-color: #f9f9f9;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 1rem; }
  @media screen and (max-width: 1160px) {
    .banner-visitor-el .visitor-icon {
      width: 4rem;
      height: 4rem; } }

.banner-visitor-el span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 400; }

.banner-sector {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 40vh;
  padding: 0 10rem;
  color: #073C53; }
  @media screen and (max-width: 1160px) {
    .banner-sector {
      padding: 0 5rem; } }

.banner-sector-el {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 10rem;
  height: 10rem;
  height: auto;
  border-radius: 2px;
  background-color: #ffffff;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.banner-sector-el .sector-el {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  background-color: #073C53;
  opacity: 0.2; }

.banner-sector-el .sector-el h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400; }

.banner-target {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 0 10rem;
  margin: 1rem 0 2rem 0;
  color: #073C53;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 600;
  font-style: italic; }
  @media screen and (max-width: 1060px) {
    .banner-target {
      padding: 0 5rem; } }

.banner-target .target-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  margin: 1rem 0; }

.target-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 90%;
  margin-bottom: 1rem; }

.target-row .target-el {
  width: 50%;
  height: 100%;
  margin: 0 1rem;
  background-color: #073C53;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px; }

.banner-animate {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 30vh;
  padding: 0 10rem;
  margin: 1rem 0 2rem 0;
  color: #073C53;
  font-family: 'Montserrat', sans-serif; }
  @media screen and (max-width: 1060px) {
    .banner-animate {
      padding: 0 5rem; } }

.banner-animate .animate-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  margin: 1rem 0;
  font-size: 22px;
  font-style: italic;
  font-weight: 600; }

.animate-el .span-red {
  font-size: 18px;
  font-weight: 600; }

.animate-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 90%;
  margin-bottom: 1rem; }

.animate-row .animate-el {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin: 0 1rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px; }

.animate-el-2 {
  display: flex;
  flex-direction: row; }

.animate-el-2 .animate-img  {
  width: 35%;
  height: 100%;
  background-color: #073C53;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.expose {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  padding: 0 10rem;
  background-color: #073C53; }
  @media screen and (max-width: 1160px) {
    .expose {
      padding: 0 5rem; } }

.expose-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 16%; }
  @media screen and (max-width: 1160px) {
    .expose-title {
      height: 10%; } }

.expose-title h2 {
  margin-bottom: 1.2rem;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase; }

.expose-title span {
  width: 8rem;
  height: 0.2rem;
  background-color: #E22230;
  border-radius: 4px; }

/* Expose Container */
.expose-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 84%;
  padding: 1rem 0 3rem 0; }

.expose-container .expose-col-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 45%;
  height: 100%;
  margin-right: 1.5rem; }

.expose-col-1 .expose-text {
  display: flex;
  width: 100%;
  height: 8%;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400; }

.expose-col-1 .expose-gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80%; }

.expose-gallery .expose-gallery-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 50%;
  padding: 0.5rem 0; }

.expose-gallery .expose-gallery-row-2 {
  padding-bottom: 0; }

.expose-gallery-row-1 .expose-img {
  width: 50%;
  height: 100%;
  background-color: #ffffff;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px;
  margin: 0 0.5rem; }

.expose-gallery-row-2 .expose-img-3 {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px;
  margin: 0 0.5rem; }

.expose-container .expose-col-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  height: 100%;
  background-color: #ffffff;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.exhibitors {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 120vh;
  padding: 0 10rem 1rem 10rem;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  background-image: url("/src/media/img/shape.svg");
  background-size: contain;
  background-position: center 120%;
  background-repeat: no-repeat; }
  @media screen and (max-width: 1160px) {
    .exhibitors {
      padding: 0 5rem; } }

.exhibitors-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 7%; }
  @media screen and (max-width: 1160px) {
    .exhibitors-title {
      height: 10%; } }

.exhibitors-title h2 {
  color: #073C53;
  font-size: 22px;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase; }

/* Exhibitors */
.exhibitors-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 93%; }

.exhibitors-container .exhibitors-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap row;
  width: 100%;
  height: 65%;
  box-sizing: border-box;
  overflow: hidden; }

.exhibitors-list .exhibitor {
  background-color: #073C53;
  border-radius: 2px;
  width: 6rem;
  height: 6rem;
  margin: 0.4rem; }

.exhibitors-container .exhibitors-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 10%; }

.exhibitors-container .exhibitors-subtitle h3 {
  margin-bottom: 1.2rem;
  color: #073C53;
  font-size: 22px;
  font-weight: 600;
  font-style: italic; }

.exhibitors-subtitle span {
  width: 8rem;
  height: 0.2rem;
  background-color: #E22230;
  border-radius: 4px; }

.exhibitors-container .exhibitors-testimonials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 25%;
  margin-bottom: 4rem;
  font-style: italic; }

.speak {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  margin-top: 0;
  padding: 0 10rem;
  position: relative;
  background-color: #073C53; }
  @media screen and (max-width: 1160px) {
    .speak {
      justify-content: space-between;
      padding: 3rem 5rem; } }

/* speak Title */
.speak-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 16%; }
  @media screen and (max-width: 1160px) {
    .speak-title {
      height: 10%; } }

.speak-title h2 {
  margin-bottom: 1.2rem;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase; }

.speak-title span {
  width: 8rem;
  height: 0.2rem;
  background-color: #E22230;
  border-radius: 4px; }

/* speak Container */
.speak-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 64%;
  position: relative; }
  @media screen and (max-width: 1160px) {
    .speak-content {
      height: 90%; } }

.speak-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 50%; }
  @media screen and (max-width: 1160px) {
    .speak-row {
      flex-direction: column; } }

.speak-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 6%;
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff; }

/* Speak Row */
@media screen and (max-width: 1160px) {
  .speak-row-2 {
    flex-direction: column-reverse; } }

.speak-row .speak-text {
  width: 50%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 1.2; }
  @media screen and (max-width: 1160px) {
    .speak-row .speak-text {
      width: 100%;
      margin: 1rem 0;
      padding: 0 5rem; } }

.speak-description {
  margin-top: 0.5rem;
  font-weight: 400;
  font-style: italic; }

.speak-row .speak-img {
  width: 48%;
  height: 100%;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2px; }
  @media screen and (max-width: 1160px) {
    .speak-row .speak-img {
      width: 100%;
      height: 12rem; } }

.speak-row .speak-text-1 {
  padding-left: 3rem; }
  @media screen and (max-width: 1160px) {
    .speak-row .speak-text-1 {
      padding: 0; } }

.speak-row .speak-text-2 {
  padding-right: 3rem; }
  @media screen and (max-width: 1160px) {
    .speak-row .speak-text-2 {
      padding: 0; } }

.communicate {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0 10rem;
  position: relative;
  background-color: #073C53;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  box-sizing: border-box; }
  @media screen and (max-width: 1160px) {
    .communicate {
      justify-content: space-between;
      padding: 3rem 5rem; } }

.communicate-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 12%; }
  @media screen and (max-width: 1160px) {
    .communicate-title {
      height: 10%; } }

.communicate-title h2 {
  margin-bottom: 1.2rem;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase; }

.communicate-title span {
  width: 8rem;
  height: 0.2rem;
  background-color: #E22230;
  border-radius: 4px; }

/* Communicate container */
.communicate-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 88%; }

.communicate-subtitle {
  width: 100%;
  height: 8%;
  text-align: center;
  font-weight: 400;
  font-style: italic; }

.communicate-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 1rem 0; }

.communicate-row-1 {
  width: 100%;
  height: 62%; }

.communicate-row-2 {
  width: 100%;
  height: 30%; }

.communicate-row .communicate-col {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0 1rem; }

.communicate-row-2 .communicate-col .communicate-video-preview {
  width: 28rem;
  height: 90%;
  background-color: #ffffff; }

.communicate-row-2 .communicate-col .communicate-title {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff; }

.communicate-row-2 .communicate-col .communicate-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff; }

.communicate-el {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%; }

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  padding: 0 16px 16px 16px;
  max-width: 468px; }

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 100;
  bottom: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f9f9; }
  @media screen and (max-width: 1160px) {
    footer {
      justify-content: space-between;
      height: 40vh; } }

.footer-part {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 0;
  width: 75%;
  height: auto;
  color: #073C53; }
  @media screen and (max-width: 1160px) {
    .footer-part {
      width: 90%; } }

/* upper footer */
.footer-part.upper-footer {
  height: 16rem; }

.upper-footer .upper-footer-el {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 25%;
  height: 100%;
  position: relative; }

@media screen and (max-width: 1160px) {
  .upper-footer .upper-footer-el-2 {
    display: none; } }

.upper-footer .upper-footer-el:not(:last-child) {
  margin-right: 1rem; }

.upper-footer .footer-title {
  margin: 1rem 0;
  text-transform: uppercase;
  user-select: none;
  position: relative;
  font-size: 14px;
  font-weight: 600; }

.upper-footer .footer-title::before {
  content: "";
  width: 1rem;
  height: 0.2rem;
  position: absolute;
  bottom: -0.3rem;
  background-color: #073C53; }

.upper-footer .footer-part-el {
  margin: 0.4rem 0; }

/* icons */
.footer-icon {
  display: block;
  padding: 0;
  margin: 0;
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: -1.4rem;
  background-size: cover;
  background-repeat: no-repeat; }

.icon-location {
  background-image: url("../src/media/img/icons/map-pin.svg"); }

.icon-mail {
  background-image: url("../src/media/img/icons/mail.svg"); }

.icon-phone {
  background-image: url("../src/media/img/icons/phone.svg"); }

.icon-fax {
  background-image: url("../src/media/img/icons/file-text.svg"); }

.footer-logo {
  display: block;
  width: 11rem;
  height: 4.5rem;
  background-size: cover;
  background-image: url("../src/media/img/logo-premium-contact-2017-2.png"); }

/* lower footer */
.footer-part.lower-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  user-select: none;
  text-transform: uppercase; }

/* Responsive */

/*# sourceMappingURL=style.css.map */
