.event {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    margin: 0;
    position: relative;
    background-color: $blue;
    @media screen and (max-width: 1160px) {
        height: 100vh;
        justify-content: space-between;
        padding-bottom: 2rem;
    }
}

/* Event Container */

.event-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}

.event-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50%;
    @media screen and (max-width: 1160px) {
        flex-direction: column;
    }
}

.event-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 0.3rem;
    height: 100%;
    background-color: $white;
    position: absolute;
    @media screen and (max-width: 1160px) {
        display: none;
    }
}

.event-line span {
    width: 1rem;
    height: 1rem;
    background-color: $white;
    border-radius: 100%;
}

/* Event Row */

.event-row-2 {
    @media screen and (max-width: 1160px) {
        flex-direction: column-reverse;
    }
}

.event-row .event-text {
    width: 50%;
    color: $white;
    @media screen and (max-width: 1160px) {
        width: 100%;
        margin: 2rem 0;
        padding: 0 5rem;
    }
}

.event-row .event-img {
    width: 44%;
    height: 82%;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px;
    @media screen and (max-width: 1160px) {
        width: 100vw;
        height: 20rem;
    }
}

.event-row .event-text-1 {
    padding-right: 3rem;
    @media screen and (max-width: 1160px) {
        margin-top: 0;
        padding: 0;
    }
}
.event-row .event-text-2 {
    padding-left: 3rem;
    @media screen and (max-width: 1160px) {
        padding: 0;
    }
}

.event-row .event-img-1 {
    background-image: url('../src/medias/img/01.jpg');
    background-position: center 30%;
}
.event-row .event-img-2 {
    background-image: url('../src/medias/img/02.jpg');
    @media screen and (max-width: 1160px) {
        background-position: center 6%;
    }
}