.expose {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    margin: 0;
    background-color: $blue;
    @media screen and (max-width: 1160px) {
        padding: 0 5rem;
    }
}

/* Expose Container */

.expose-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 84%;
    padding: 1rem 0 3rem 0;
}

.expose-container .expose-col-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 45%;
    height: 100%;
    margin-right: 1.5rem;
}

.expose-col-1 .expose-text {
    display: flex;
    width: 100%;
    height: 8%;
    margin-top: 1rem;
    color: $white;
}

.testimonial {
    color: $blue;
    font-size: 16px;
    font-weight: 400;
}

.expose-col-1 .expose-gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80%;
}

.expose-gallery .expose-gallery-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50%;
    padding: 0.5rem 0;
}

.expose-gallery .expose-gallery-row-2 { padding-bottom: 0; }

.expose-gallery-row-1 .expose-img {
    width: 50%;
    height: 100%;
    border-radius: 2px;
    margin: 0 0.5rem;
}

.expose-gallery-row-2 .expose-img-3 {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    margin: 0 0.5rem;
}

.expose-container .expose-col-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    height: 100%;
}

.expose-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.expose-img-1 { background-image: url('../src/medias/img/07.jpg'); }
.expose-img-2 {
    background-image: url('../src/medias/img/08.jpg');
    background-position: 85% center;
}
.expose-img-3 {
    background-image: url('../src/medias/img/09.jpg');
    background-position: center 20%;
}
.expose-col-2 {
    background-image: url('../src/medias/img/10.jpg');
    background-position: 0% center;
}