.landing {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: relative;
    margin: 0;
    height: 100vh;
    background-image: url('../src/medias/img/landing-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 100%;
}

.landing-el {
    height: 100%;
    padding: 2rem 0;
}

.landing-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    width: 45%;
    height: 80%;
    padding: 16rem 0;

    @media screen and (max-height: 900px) {
        padding: 8rem 0;
    }
}

.landing-text {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}

.landing-text h2 {
    text-align: left;
    color: $blue;
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 1rem;
}

.landing-text h3 {
    color: $red;
    font-size: 22px;
    font-weight: 600;
}

.landing-text p {
    width: 80%;
    margin-top: 2.4rem;
    padding: 0.25rem 0.5rem;
    color: $blue;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    background-color: $white;
}

.landing-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    background-color: $white;
    border: 2px solid $red;
    border-radius: 2px;
    color: $red;
    font-size: 18px;
    font-weight: 600;
    transition: cubic-bezier(0.65, 0.01, 0.46, 1) 0.2s;
}

.landing-btn:hover {
    border: transparent;
    background-color: $red;
    color: $white;
    border: 2px solid $white;
}

.landing-img {
    width: 55%;
    background-image: url('../src/medias/img/landing-illustration-01.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}