.offer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    margin: 0;
    position: relative;
    background-image: url('../src/medias/img/shape.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 140%;
    color: $white;
    box-sizing: border-box;
    @media screen and (max-width: 1160px) {
        justify-content: space-between;
        padding: 3rem 5rem;
    }
}

.offer-title h2 { color: $blue; }

/* offer container */

.offer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}

.offer-subtitle {
    width: 100%;
    height: 8%;
    text-align: center;
    font-weight: 400;
    font-style: italic;
    color: $blue;
}

.offer-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 1rem 0;
}

.offer-row-1 {
    width: 100%;
    height: 80%;
}

.offer-row-2 {
    width: 100%;
    height: 12%;
}

.offer-row .offer-col {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0 1rem;
    background-color: $cream;
    border-radius: 2px;
}

.offer-col .offer-col-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12%;
    font-size: 18px;
    font-weight: 600;
    color: $red;
    text-transform: uppercase;
}

.offer-col .offer-col-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 88%;
    padding: 1rem 5%;
    color: $blue;
}

.offer-content-subtitle {
    width: 100%;
    height: 8%;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    text-align: center;
    line-height: 1.1;
}

ul.offer-content-list {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 80%;
    margin: 0 0 1.5rem 0;
    position: relative;
}

ul.offer-content-list li::before {
    content: "";
    width: 0.65rem;
    height: 0.65rem;
    position: absolute;
    border-radius: 100%;
    background-color: $red;
    left: 1rem;
}

.offer-col-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 3rem;
    background-color: $red;
    border-radius: 2px;
    color: $white;
    position: absolute;
    bottom: 2%;
}

.offer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 3.5rem;
    background-color: $red;
    border-radius: 2px;
}

.offer-btn .icon-download {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.5rem;
    background-image: url('../src/medias/img/icons/download.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}