.partners {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 45vh;
    padding: 0 10rem;
    @media screen and (max-width: 1160px) {
        height: 30vh;
        padding: 0 5rem;
        text-align: center;
    }
}

.partners-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    color: $blue;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.partners-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 90%;
}

.partners-col {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 1rem;
}

.partners-col .partners-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50%;
}

.partners-row .partner {
    display: block;
    width: 33%;
    height: 100%;
    margin: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}


/* Col 1 */

.partners-col-1 .partners-row-1 .partner-1 { background-image: url('../src/media/img/partners/logo-gimelec.jpg'); }
.partners-col-1 .partners-row-1 .partner-2 { background-image: url('../src/media/img/partners/logo-ademe.png'); }
.partners-col-1 .partners-row-1 .partner-3 { background-image: url('../src/media/img/partners/logo-supelec.png'); }

.partners-col-1 .partners-row-2 .partner-1 { background-image: url('../src/media/img/partners/logo-atee.png'); }
.partners-col-1 .partners-row-2 .partner-2 { background-image: url('../src/media/img/partners/logo-aidee.png'); }
.partners-col-1 .partners-row-2 .partner-3 { background-image: url('../src/media/img/partners/logo-ceren.png'); }

/* Col 2 */

.partners-col-2 .partners-row-1 .partner-1 { background-image: url('../src/media/img/partners/logo-actuenv.jpg'); }
.partners-col-2 .partners-row-1 .partner-2 { background-image: url('../src/media/img/partners/logo-green.png'); }
.partners-col-2 .partners-row-1 .partner-3 { background-image: url('../src/media/img/partners/logo-valeur.png'); }

.partners-col-2 .partners-row-2 .partner-1 { background-image: url('../src/media/img/partners/logo-energieplus.png'); }
.partners-col-2 .partners-row-2 .partner-2 { background-image: url('../src/media/img/partners/logo-decideurs.svg'); }