.promotion {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    position: relative;
    z-index: 10;
    background-image: url('../src/medias/img/shape.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.promotion-background {
    width: 100%;
    height: 35%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    background-color: $blue;
}

/* Promotion container */

.promotion-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 84%;
    margin-bottom: 3rem;
}

.promotion-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 0.5rem 0;
}

.promotion-row-1 { height: 60%; }
.promotion-row-2 { height: 40%; }

.promotion-row .promotion-col {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.promotion-col-1 { width: 35%; }
.promotion-col-2 { width: 20%; }

.promotion-el {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
    margin: 0 1rem;
}

.promotion-el-1 {
    width: 65%;
    height: 100%;
    margin-left: 0;
    background-image: url('../src/medias/img/13.jpg');
}

.promotion-el-2, .promotion-el-3 {
    width: 100%;
    height: 50%;
}

.promotion-el-2 {
    margin-bottom: 0.5rem;
    background-image: url('../src/medias/img/14.jpg');
}
.promotion-el-3 {
    margin-top: 0.5rem;
    background-image: url('../src/medias/img/15.jpg');
}

.promotion-el-4, .promotion-el-5 {
    width: 100%;
    height: 50%;
}

.promotion-el-4 {
    margin-bottom: 0.5rem;
    background-image: url('../src/medias/img/16.jpg');
}
.promotion-el-5 {
    margin-top: 0.5rem;
    background-image: url('../src/medias/img/17.jpg');
}

.promotion-el-6, .promotion-el-7 {
    width: 40%;
    height: 100%;
}

.promotion-el-6 {
    margin: 0 0.5rem 0 1rem;
    background-image: url('../src/medias/img/18.jpg');
}
.promotion-el-7 {
    margin: 0 0 0 0.5rem;
    background-image: url('../src/medias/img/19.jpg');
}