.sector {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    margin: 0;
    @media screen and (max-height: 900px) {
        height: 65vh;
    }
}

.sector-title h2 { color: $blue; }

.sector-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2rem 0;
}

.sector-container .sector-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 1.5rem 0;
}

.sector-container .sector-row-1 { height: 50%; }
.sector-container .sector-row-2 { height: 40%; }

.sector-row .sector-row-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 100%;
    margin: 0 1rem;
    background-color: $cream;
    border: 2px $red solid;
    border-radius: 2px;
    position: relative;
}

.sector-row-section .section-circle {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: -2rem;
    border: 3px $red solid;
    border-radius: 100%;
    background-color: $white;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.sector-row-section .section-circle-1 { background-image: url('../src/medias/img/icons/zap.svg'); }
.sector-row-section .section-circle-2 { background-image: url('../src/medias/img/icons/check.svg'); }
.sector-row-section .section-circle-3 { background-image: url('../src/medias/img/icons/command.svg'); }
.sector-row-section .section-circle-4 { background-image: url('../src/medias/img/icons/settings.svg'); }
.sector-row-section .section-circle-5 { background-image: url('../src/medias/img/icons/home.svg'); }
.sector-row-section .section-circle-6 { background-image: url('../src/medias/img/icons/aperture.svg'); }
.sector-row-section .section-circle-7 { background-image: url('../src/medias/img/icons/dollar-sign.svg'); }
.sector-row-section .section-circle-8 { background-image: url('../src/medias/img/icons/database.svg'); }


.sector-row-section .section-text {
    margin: 1.2rem 0.6rem 0 0.6rem;
    color: $dark-blue;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2;
    text-align: center;
}