.banner-sector {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 40vh;
    padding: 3rem 10rem;
    color: $blue;
    background-color: $blue;
    @media screen and (max-width: 1160px) {
        padding: 0 5rem;
    }
}

.banner-sector-el {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 25%;
    height: 100%;
    border-radius: 2px;
    background-color: $cream;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-sector-el:not(:last-child) {
    margin-right: 1rem;
}

.banner-sector-el .sector-el {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    background-color: $light-blue;
    border-radius: 2px;
}

.banner-sector-el .sector-el h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
}