.banner-visitor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 30vh;
    padding: 3rem 20rem;
    font-size: 16px;
    font-weight: 400;
    color: $blue;
    @media screen and (max-width: 1160px) {
        padding: 0 5rem;
    }
}

.banner-visitor .banner-visitor-el {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 100%;
    @media screen and (max-width: 1160px) {
        height: 40%;
    }
}

.banner-visitor-el .visitor-icon {
    width: 6.5rem;
    height: 6.5rem;
    border: 2px solid $red;
    border-radius: 100%;
    background-position: center;
    background-size: 55%;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
    @media screen and (max-width: 1160px) {
        width: 4rem;
        height: 4rem;
    }
}

.banner-visitor-el span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.icon-bulb { background-image: url('../src/medias/img/icons/bulb.svg'); }
.icon-env { background-image: url('../src/medias/img/icons/recycle.svg'); }
.icon-graph { background-image: url('../src/medias/img/icons/graph.svg'); }
.icon-plug { background-image: url('../src/medias/img/icons/plug.svg'); }
.icon-quart { background-image: url('../src/medias/img/icons/quart.svg'); }