.banner-sector {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    padding: 2rem 20rem;
    color: $blue;
    background-color: $blue;
    @media screen and (max-width: 1160px) {
        padding: 0 5rem;
    }
}

.banner-sector-title {
    color: $white;
    font-weight: 400;
    font-style: italic;
    font-size: 22px;
    margin-bottom: 1rem;
}

.banner-sector-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 95%;
    box-sizing: border-box;
}

.banner-sector-el {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.banner-sector-el h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 16%;
    background-color: $white;
    font-size: 14px;
    font-weight: 400;
}

.banner-sector-el:not(:last-child) {
    margin-right: 1rem;
}

.banner-sector-el .sector-el {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $cream;
    border-radius: 2px;
}

.banner-sector-el-1 .sector-el { background-image: url('../src/medias/img/visitorat1.jpg'); }
.banner-sector-el-2 .sector-el { background-image: url('../src/medias/img/visitorat2.jpg'); }
.banner-sector-el-3 .sector-el { background-image: url('../src/medias/img/visitorat3.jpg'); }
.banner-sector-el-4 .sector-el { background-image: url('../src/medias/img/visitorat4.jpg'); }