.banner-target {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    padding-bottom: 2rem;
    background-image: url('../src/medias/img/shape.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -200%;
    color: $blue;
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
}

.banner-target .target-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    margin: 2rem 0;
}

.target-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 80%;
    height: 90%;
}

.target-row:not(:last-child) {
    margin-bottom: 3rem;
}

.target-row .target-el {
    width: 50%;
    height: 100%;
    margin: 0 1rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.target-row .target-el-1 { background-image: url('../src/medias/img/ET_visuel1.svg'); }
.target-row .target-el-2 { background-image: url('../src/medias/img/ET_visuel2.svg'); }
.target-row .target-el-3 { background-image: url('../src/medias/img/ET_visuel3.svg'); }
.target-row .target-el-4 { background-image: url('../src/medias/img/ET_visuel4.svg'); }