html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

.main {
    width: 100%;
    height: 100%;
    position: relative;
}

.container {
    width: 100vw;
    height: 80vh;
    box-sizing: border-box;
}

.banner {
    width: 100vw;
    height: 40vh;
    box-sizing: border-box;
}

.span-red {
    color: $red;
    font-weight: 600;
}