footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 100;
    bottom: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: $cream;
    @media screen and (max-width: 1160px) {
        justify-content: space-between;
        height: 40vh;
    }
}

.footer-part {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 0;
    width: 75%;
    height: auto;
    color: $blue;
    @media screen and (max-width: 1160px) {
        width: 90%;
    }
}

/* upper footer */
.footer-part.upper-footer {
    height: 16rem;
}

.upper-footer .upper-footer-el {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 25%;
    height: 100%;
    position: relative;
}

.upper-footer .upper-footer-el-2 {
    @media screen and (max-width: 1160px) {
        display: none;
    }
}

.upper-footer .upper-footer-el:not(:last-child) { margin-right: 1rem; }

.upper-footer .footer-title {
    margin: 1rem 0;
    text-transform: uppercase;
    user-select: none;
    position: relative;
    font-size: 14px;
    font-weight: 600;
}

.upper-footer .footer-title::before {
    content: "";
    width: 1rem;
    height: 0.2rem;
    position: absolute;
    bottom: -0.3rem;
    background-color: $blue;
}

.upper-footer .footer-part-el { margin: 0.4rem 0; }

/* icons */
.footer-icon {
    display: block;
    padding: 0;
    margin: 0;
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: -1.4rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.icon-location { background-image: url("../src/medias/img/icons/map-pin.svg"); }
.icon-mail { background-image: url("../src/medias/img/icons/mail.svg"); }
.icon-phone { background-image: url("../src/medias/img/icons/phone.svg"); }
.icon-fax { background-image: url("../src/medias/img/icons/file-text.svg"); }

.footer-logo {
    display: block;
    width: 11rem;
    height: 4.5rem;
    background-size: cover;
    background-image: url("../src/medias/img/logo-premium-contact-2017-2.png");
}

/* lower footer */
.footer-part.lower-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: $white;
    font-size: 14px;
    font-weight: 600;
    user-select: none;
    text-transform: uppercase;
}

/* Responsive */
@media only screen and (max-width: 1200px) {

}