.landing {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.landing-el {
    display: flex;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
}

.landing-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 50%;
}